/* stylin' */
@import url(https://fonts.googleapis.com/css?family=Source+Code+Pro:300);

html {
  min-height: 100%;
  padding-bottom: 100px;
  position: relative;
}

body {
  margin: 0;
  font-family: 'Source Code Pro';
  font-size: 14px;
  color: #000000;
  background-color: #ffffff;
}

header {
  background-color: #fff;
  border-bottom: 1px solid #e6e6e6;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem; 
}

.title {
  text-align: center;
  font-size: 3rem;
}

.footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  text-align: center;
}

#thumbnails {
  position: absolute;
  height: 100px;
  width: 100px;
  border-radius: 2px;
}


