/* stylin' */
@import url(https://fonts.googleapis.com/css?family=Source+Code+Pro:300);

html {
  min-height: 100%;
  padding-bottom: 2em;
  position: relative;
}

body {
  margin: 0;
  font-family: 'Source Code Pro';
  color: #000000;
  background-color: #ffffff;
}

header {
  background-color: #fff;
  border-bottom: 1px solid #e6e6e6;
  padding-top: 2em;
  padding-bottom: 1.5em; 
}

.title {
  text-align: center;
  font-size: 2em;
  padding-top: 1em;
}

.footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1em;
  text-align: center;
}

#photo-grid.thumbnails {
 padding-left: 10em;
 padding-right: 10em;
 padding-top: 5em;
 padding-bottom: 5em;
}


img {
  max-width: 270px;
  max-height: 270px;
  padding: 10px;
}

.thumbnail {
  height: 300px;
  width: 300px;
  position: relative;
  margin: 1em;
  float: left;
}
 a:hover {
  background-color: blue;
}




