/* stylin' */
@import url(https://fonts.googleapis.com/css?family=Source+Code+Pro:300);

html {
  min-height: 100%;
  padding-bottom: 3em;
  position: relative;
}

body {
  margin: 0;
  font-family: 'Source Code Pro';
  color: #000;
  background-color: #fff;
  font-size: 100%;
}

header {
  background-color: #fff;
  border-bottom: 0.5px solid #e6e6e6;
  text-align: center;
  padding-top: 1em;
  padding-bottom: 1em;
}

h1.title {
  font-size: 1.875em;
}

div.title {
  text-align: center;
  font-size: 0.75em;
}

.footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1em;
  text-align: center;
}

#photo-grid {
  padding-left: 6em;
  padding-right: 6em;
}

.thumbnail.title {
  font-size: .7em;
  padding: 1em;
}

#left, #right {
  float: left;
}

div.thumbnail {
  display: inline-block;
  float: left;
  text-align: center;
  max-height: 150px;
  max-width: 150px;
  margin: 1em;
}

.thumbnail img { 
  padding: 20px;
  height: 80%; 
  width: 100%; 
}

.image-box img {
  width:100%; 
  height:100%; 
}

#lightbox {
  position: fixed;
  top:2; 
  left:0;
  margin-right: 5em;  
  margin-left: 5em;  
  width:100%; 
  height:100%; 
  -moz-box-shadow:0 0 25px #111;
}

#lightbox-image img {
  box-shadow: 1px 3px 45px #000;
}

.thumbnail img:hover {
  transform: scale(1.1);
  box-shadow: 1px 2px 10px rgba(85, 84, 89, 0.6); 
  }
}


